.container-bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: antiquewhite;
    margin: 20px 0 0 0;
    padding: 2% 3%;
}

.profile {
    margin: auto;
}

.name {
    font-weight: 900;
    margin: 0%;
}

.title {
    font-weight: 200;
    margin: 0%;
}

.about-me {
    padding: 3%;
    position: relative;
}

.about-me::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 3%;
    width: 95%;
    height: 3px;
    background-color: black;
}

p {
    margin: 0;
}