.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    margin: auto;
}

.name {
    font-weight: 900;
    margin: 0%;
}

.title {
    font-weight: 200;
    margin: 0%;
}

.about-me {
    padding: 1%;
}

p {
    margin: 0;
}