.container-bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    margin: 20px 0 0 0;
    padding: 2% 3%;
    border-radius: 10px;
    box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.26);
}

.profile {
    margin: auto;
    max-height: 250px;
    border-radius: 5%;
}

.name {
    font-weight: 900;
    margin: 0%;
}

.title {
    font-weight: 200;
    margin: 0%;
}

.about-me {
    padding: 3%;
    position: relative;
}

.about-me::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 3%;
    width: 95%;
    height: 3px;
    background-color: black;
}

p {
    margin: 0;
}

@media screen and (min-width: 200px) and (max-width: 768px){
    .container-bio {
        margin: 10px 10px;
        flex-direction: column;
    }

}