.container-exp {
    display: flex;
    flex-direction: row;
}

.card-long {
    background-color: rgba(255, 235, 205, 0.582);
    border-radius: 5%;
    box-shadow: 0em 0em 1em 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 2%;
    z-index: 1;
    text-align: center;
    width: 333.281px;
    height: 230px;
}

.job-name {
    margin: 2px;
    padding: 0;
}

.job-title{
    margin: 0;
    padding: 0;
}

.job-employment{
    margin: 0;
    padding: 0;
}

.job-description{
    margin: 0;
    padding: 8px 0;
    text-align: left;
}