.container-exp {
    display: flex;
    flex-direction: row;
   flex-wrap: wrap; 
}

.inner-exp {
    width: 50%;
}

.inner-exp:first-child {
    width: 100%;
}

.tek-points {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card-long {
    background-color: var(--backgrounds);
    border-radius: 20px;
    box-shadow: 0em 0em 1em 1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 20px;
    z-index: 1;
    text-align: center;
    height: min-content;
}

.job-name {
    margin: 2px;
    padding: 0;
}

.job-title{
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.job-employment{
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.job-employment::after {
    content: "";
    position: absolute;
    width: 99%;
    height: 2px;
    left: 0;
    top: 22px;
    background-color: black;
}

.job-description{
    position: relative;
    margin: 0;
    padding: 10px 0;
    text-align: left;
    font-weight: 200;
}

.experience-card {
    position: relative;
}
.experience-card::after {
    content: "";
    position: absolute;
    width: 99%;
    height: 2px;
    left: 0;
    top: 0;
    background-color: black;
}

.experience-card h6 {
    margin: 0;
    padding: 2px;
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    .container-exp {
        flex-direction: column;
        align-items: center;
    }

    .inner-exp {
        width: 100%;
    }
}
