.card-cont {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.card-port {
    color: black;
    margin: 10px 5px;
    background-color: blanchedalmond;
    width: 374px;
    height: 244px;
    box-shadow: 0em 0em 1em 1px rgba(0, 0, 0, 0.25);
}

.card-name {
    font-weight: 500;
    font-size: larger;
    font-style: oblique;
    text-align: center;
    margin: 12px 0;
}

.card-tech {
    font-weight: 600;
    text-align: center;
    word-spacing: 1rem;
    margin: 0;
}

.card-desc {
    padding: 10px;
    margin-bottom: 10px;
}

.card-port a {
    background-color: rgba(95, 158, 160, 0.5);
    border: 0;
    margin: 10px 8px;
    padding: 5px;
    text-decoration: none;
    color: black;
}