.skill-con {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.tek-con, .lang-con {
    display: flex;
    flex-flow: row wrap;
    width: 370px;
    justify-content: space-around;
}

.header-1, .header-2 {
    width: 370px;
}

.tek-text, .lang-text {
    background-color: white;
    padding: 6px;
    color: black;
    font-weight: 600;
    border-radius: 10%;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.288);
    pointer-events: none;
}

.tek-text {
    margin: 2px 8px;
}

.lang-text {
    margin: 2px;
    height: fit-content;
}