.tek-con {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.header-1 {
    text-align: center;
}

.tek-text, .lang-text {
    background-color: white;
    padding: 6px;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.288);
    cursor: move;
    z-index: 2;
    height: fit-content;
}

.tek-text {
    margin: 2px 8px;
}

.lang-text {
    margin: 2px;
    height: fit-content;
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    .skill-con {
        flex-flow: column;
        align-items: center;
    }
}
