.info, .footer-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 10px;
}

.info {
  margin-top: 10px;
}

.footer-cont {
    height: 100px;
}

.footer-cont a, .info a {
    text-shadow: white 0 0 10px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 20px;
    transition: 250ms;
}


.footer-cont a:hover, .info a:hover {
  color: white;
  text-shadow: black 0 0 10px;
}
.fade {
    opacity: 0.5;
}

@media screen and (min-width: 200px) and (max-width: 768px) {

    .footer-cont, .info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: unset;
        flex-wrap: wrap;
    }

    .footer-cont {
        margin: 30px;
    }

    .footer-cont a, .info a {
        margin: 15px 30px;
        width: 25%;
    }
    
    .footer-cont p {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}
