.footer-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
}

.footer-cont a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 20px;
}

.fade {
    opacity: 0.5;
}