:root {
--backgrounds: #fff2f2;
}

html {
  background-color: #9aad91;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 768px;
}

@media screen and (min-width: 200px) and (max-width: 768px) {
  .App {
    width: 368px;
    overflow-x: hidden;
  }
}
